.logo {
    height: 50px;
    width: auto;
}

.navbar {
    background-color: #d1c4e9 !important;
}

.navbar-nav .nav-item {
    margin-right: 25px; /* Adiciona espaçamento entre as opções do menu */
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #6f42c1;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #6f42c1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    color: #6f42c1;
}
